@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Honk&family=Kanit:ital,wght@0,600;0,700;1,900&family=Lato:wght@100;300;400&family=Montserrat:wght@400;600&family=Noto+Sans:wght@300;600&family=PT+Sans:wght@400;700&family=Roboto+Mono:wght@600&family=Roboto:wght@300;500;900&family=Sixtyfour&display=swap');
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import url(https://fonts.googleapis.com/css?family=Uncial+Antiqua&display=swap);

@import 'bootstrap/scss/bootstrap';

a {
    text-decoration: none;
    color: inherit;
}

.my-bg-primary {
    background-color: $honolulu-blue;
}

//loader
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn:hover {
    background-color: $contrast-color;
    border-color: $green-color;
    color: white;
}

.btn-search {
    background-color: $honolulu-blue;
    color: white;
}

.btn-call {
    background-color: $contrast-color;
    border-color: $green-color;
    color: white;
}

.btn-call:hover {
    background-color: $light-cyan;
    border-color: none;
    color: black;
}

.green {
    color: $green-color;
}

.nav-link:hover,
.nav-link.active {
    color: $contrast-color;

    border-bottom: 5px $contrast-color;
}

footer {
    background-color: $marian-blue;
    color: white;

    h3 {
        color: $pacific-cyan
    }

    .logo-text {
        color: $pacific-cyan;
        font-weight: 700;
    }
}

//animations

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

//vue transition
.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}